<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <div class="row mt-5 pt-3">
    <div class="col-md-6">
        <% if (post.next){ %>
          <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
            <p class="mb-2"><small><%= __('← Older post') %></small></p>
            <p><%= post.next.title %></p>
          </a>
        <% } %>    
    </div>
    <div class="col-md-6">
        <% if (post.prev){ %>
          <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
            <p class="mb-2 text-right"><small><%= __('Newer post →') %></small></p>
            <p class="text-right"><%= post.prev.title %></p>
          </a>
        <% } %>
    </div>
</nav>
<% } %>