<% var post = page %>

<%- partial('post/featured-image') %>

<div id="text-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
					<div class="article-inner">
						<%- partial('post/gallery') %>
						<% if (post.link || post.title){ %>
						<header class="article-header">
							<%- partial('post/title', {class_name: 'article-title'}) %>
						</header>
						<% } %>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>

<%- partial('_partial/posts-list', {heading: "", number: 0}) %>