<header id="menu">
    <div id="menu-container">
        <a href="/"><img class="logo" src="<%- url_for(theme.logo) %>" /></a>
        <p class="menu-slogan"><%- theme.slogan %></p>
        <p class="h6 mt-5 mb-3 menu-heading">Pages</p>
        <nav>
            <ul class="list-unstyled mb-2">
                <% for (var i in theme.menu){ %>
                    <li class="menu-list-item">
                        <a class="menu-link" href="<%- url_for(theme.menu[i]) %>"><span><%- i %></span></a>
                    </li>
                <% } %>	
            </ul>
        </nav>
        <p class="h6 mt-5 mb-3 menu-heading">Projects</p>
        <nav>
            <ul class="list-unstyled mb-2">
                <% for (var i in theme.links_projects){ %>
                    <li class="menu-list-item">
                        <a class="menu-link" href="<%- theme.links_projects[i] %>" rel="nofollow" target="_blank">
                            <span><%- i %></span>
                            <i class="icon ion-md-open ml-2"></i>
                        </a>
                    </li>
                <% } %>	
            </ul>
        </nav>
        <p class="h6 mt-5 mb-3 menu-heading">Funding</p>
        <nav class="d-block d-sm-none d-xl-block">
            <ul class="list-unstyled mb-2">
                <% for (var i in theme.links_funding){ %>
                    <li class="menu-list-item">
                        <a class="menu-link" href="<%- theme.links_funding[i] %>" rel="nofollow" target="_blank">
                            <span><%- i %></span>
                            <i class="icon ion-md-open ml-2"></i>
                        </a>
                    </li>
                <% } %>	
            </ul>
        </nav>
    </div>
</header>