<div id="text-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
                <% if (heading) { %>
                    <h2><%- heading %></h2>
                <% } %>
                <% site.posts.sort('date', -1).limit(number).forEach(function(post) { %>
                    <div class="row my-4">
                        <div class="col-sm-2 d-none d-sm-block">
                            <div class="post-thumbnail-wrapper">
                                <% if (post.thumbnail){ %>
                                    <img class="w-100" src="<%- url_for(post.path) + post.thumbnail %>" />
                                <% } else { %>
                                    <div class="post-thumbnail-default"></div>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h3 class="mt-0 mb-1"><%- post.title %></h3>
                            <p><small class="text-muted"><%- time(post.date, 'DD MMMM, YYYY') %></small>
                            <p><%- strip_html(post.excerpt) %> <a class="no-wrap" href="<%- url_for(post.path) %>" title="<%- post.title %>">Continue reading →</a></p>
                            <script>console.log('<%- post.excerpt %>')</script>
                        </div>
                    </div>
                <% }); %>             
            </div>
        </div>
    </div>
</div>