<div id="text-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
                <% if (heading) { %>
                    <h2><%- heading %></h2>
                <% } %>
                <% var postsDisplay = number ? _.take(site.posts.data, number) : site.posts; %>
                <% postsDisplay.forEach(function(post) { %>
                    <div class="row align-items-center my-3">
                        <div class="col-sm-2">
                            <div class="post-thumbnail-wrapper">
                                <% if (post.thumbnail){ %>
                                    <img class="w-100" src="<%- url_for(post.path) + post.thumbnail %>" />
                                <% } else { %>
                                    <div class="post-thumbnail-default"></div>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h3 class="mt-0"><%- post.title %></h3>
                            <p><%- post.excerpt ? post.excerpt : _.truncate(post.content) %> <a href="<%- url_for(post.path) %>" title="<%- post.title %>">Continue reading →</a></p>
                        </div>
                    </div>
                <% }); %>
                <% console.log(postsDisplay); %>                    
            </div>
        </div>
    </div>
</div>