<%- open_graph({ url: url.replace('/index.html', '/')}) %> 
<%- css('css/app.css') %> 
<body>
  <%- body %>
  <%- partial('_partial/footer') %>
  <%- js('js/app.js') %>
  <%- partial('_partial/analytics') %>
</body>
</html>
