<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body id="layout">
	<%- partial('_partial/menu-toggle') %>
	<%- partial('_partial/menu') %>
	<%- // partial('_partial/go-up') %>	
	<section id="content">
		<%- body %>
		<%- partial('_partial/footer') %>
	</section>
</body>
</html>